/* src/components/RestaurantDetails.css */

.restaurant-details-container {
  margin-top: 50px;
}

.add-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.add-hall-button {
  background-color: #ff0099;
  border: none;
}

.add-hall-button:hover {
  background-color: #e60082;
}

.restaurant-details-card,
.hall-card {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.restaurant-details-card:hover,
.hall-card:hover {
  transform: translateY(-10px);
}

.restaurant-details-card img,
.hall-card img {
  height: 300px;
  object-fit: cover;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.reserve-button {
  background-color: #ff0099;
  border: none;
}

.reserve-button:hover {
  background-color: #e60082;
}
