.signup-image-container {
    padding: 0;
    overflow: hidden;
  }
  
  .signup-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .signup-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  
  .signup-box {
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ff0099;
  }
  
  .input-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #ff0099;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #e60082;
  }
  
  .links {
    margin-top: 20px;
  }
  
  .links a {
    color: #ff0099;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  